## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Kelvin Waters
# Online FT 12/09/19 cohort
# Once submitted
# Rafael Carrasco

In [ ]:
# import everything being used up top
from importlib import reload

import sqlite3
import pandas as pd
import numpy as np
import helper_functions as hf


import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [ ]:
reload(hf)

In [ ]:
def preview_tables(conn, tables='all'):
    all_tables = hf.get_table_list(conn)
    if tables=='all':
        final_table_names = all_tables
        
    elif type(tables) == list:
        final_table_names = [t for t in all_tables if t in tables]
    
    for table_name in final_table_names:
        print(f"Showing Table: {table_name}")
        query = f"select * from {table_name};"
        df = pd.read_sql(query, conn)
        display(df.head(2))
        print("-"*100)
    print("finished")
    return None

In [ ]:
conn = sqlite3.Connection("movies_db.sqlite")
c = conn.cursor()

In [ ]:
table_names = hf.get_table_list(conn)
table_names

In [ ]:
preview_tables(conn, tables= 'all')

# let the fun begin

In [ ]:
table_names

# Top 5 Profitable Studios

In [ ]:
# """who are the top studios based on domestic gross and their top movies? 
# https://www.hollywoodreporter.com/news/film-studio-is-profitable-871676
# I find it imperative that MS would want to know who the top studios are and what is driving 
# their decisions and what they are doing right. What better way to get in than globbing up a 
# top studio or two?
# foreign_gross > 30% missing values not being considered
# Year not relevant since I'm more concentrated on total domestic success and data constraints
# although production costs aren't being considered can't seem to figure out a path to join
# this table with other tables with that data within the scope of my limited knowledge"""

In [ ]:
# abandon sql inner, right joins NOT supported error
# error questioned in slack no replys
# values will remain as an obj - type str
# query = ("""SELECT tn.*,
#         bom.studio
#         FROM tn_movie_budgets as tn
#         LEFT JOIN bom_movie_gross as bom
#         ON tn.movie = bom.title
#         GROUP BY studio
#         ORDER BY (bom.domestic_gross) DESC
#         """)
# joined_df = pd.read_sql(query, conn)
# joined_df.head()

In [ ]:
tn_movie_budgets_df = hf.load_table(conn, "tn_movie_budgets")

In [ ]:
# helper func changed from int to int64
# convert dollars to integers
money_cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in money_cols:
    tn_movie_budgets_df = hf.convert_dollars_to_int(tn_movie_budgets_df, col)

In [ ]:
tn_movie_budgets_df.head()

In [ ]:
tn_movie_budgets_df.isna().sum()

In [ ]:
# dropping unnecessary cols 
# id POOF!
tn_movie_budgets_df = tn_movie_budgets_df.drop('id', axis= 1)

In [ ]:
# not concerned about release date
# release_date POOF! 
tn_movie_budgets_df = tn_movie_budgets_df.drop('release_date', axis= 1)

In [ ]:
# movie title not relevant to this data
tn_movie_budgets_df = tn_movie_budgets_df.drop('movie', axis= 1)

In [ ]:
tn_movie_budgets_df.shape

In [ ]:
# values seem okay
tn_movie_budgets_df.isna().sum()

In [ ]:
tn_movie_budgets_df.head()

In [ ]:
bom_movie_gross_df = hf.load_table(conn, "bom_movie_gross")

In [ ]:
# # dropping unnecessary cols
# foreign_gross > 30% missing values POOF! 
bom_movie_gross_df = bom_movie_gross_df.drop('foreign_gross', axis= 1)

In [ ]:
# year isn't relevant not a time sensitive requirement to this reporting
bom_movie_gross_df = bom_movie_gross_df.drop('year', axis= 1)

In [ ]:
# join table has a movie col
# title POOF!
# bom_movie_gross_df = bom_movie_gross_df.drop('title', axis= 1)

In [ ]:
bom_movie_gross_df.shape

In [ ]:
bom_movie_gross_df.head()

In [ ]:
# merge merge merge, merge is the word!!!
df3 = pd.merge(bom_movie_gross_df, tn_movie_budgets_df, on ='domestic_gross')
df3

In [ ]:
# # NaN values being introduced via concat?!
# # A nan
# # nan B
# # how do I use this?
# to_concat = [tn_movie_budgets_df, bom_movie_gross_df]
# joined_df = pd.concat(to_concat, ignore_index= True, sort= False)
# joined_df

In [ ]:
# df = pd.concat(to_concat, ignore_index= True, sort= False)

In [ ]:
df3['profit'] = df3['worldwide_gross'] + df3['domestic_gross'] - df3['production_budget']
df3

In [ ]:
# these are the top five studios based on profitability
# time not being a const
top_five_studios = df3.sort_values('profit', ascending= False)
top_five_studios.head()

In [ ]:
top_five_studios.sum(level= 'profit')
top_five_studios

In [ ]:
# works but isn't inplace and how can I descend or ascend? 
# wth = top_five_studios.groupby('studio')
# wth['profit'].sum()

In [ ]:
# close but not quite there! profit still not summed for each 
df4 = top_five_studios.groupby(['studio', ('profit')])
df4.first()

# Graph

In [ ]:
values = []
labels = []

for top_five, count in top_five.items():
    labels.append(top_five)
    values.append(count)

In [ ]:
plt.figure(figsize(8,5))
plt.bar(labels, values)
plt.title('Top 5 Studios')

# Question # 2

In [ ]:
#avg rating, numvote, and genres using tconst
title_basics_df = hf.load_table(conn, 'title_basics')
title_basics_df.isna().sum().round(4)

In [ ]:
#avg rating, numvote, and genres using tconst
# indentify what genres are 
title_ratings_df = hf.load_table(conn, 'title_ratings')
title_ratings_df.isna().sum().round()

In [ ]:
# OperationalError: RIGHT and FULL OUTER JOINs are not currently supported!!!
# attempted to join title_ratings using(tconst)
# ON tb.tconst = tr.tconst replaced by USING (tconst) works! 
query = ("""SELECT tb. primary_title, 
        genres, 
        averagerating, 
        numvotes
        FROM title_basics as tb
        LEFT JOIN title_ratings as tr
        USING (tconst)
        """)
joined_df = pd.read_sql(query, conn)
joined_df.head()

In [ ]:
joined_df.shape, title_basics_df.shape, title_ratings_df.shape

# Question # 3 popularity & domestic gross

In [ ]:
# popularity and domestic gross using id? 
# is there a correalation of domestic gross based on popularity? 
tn_movie_budgets_df = hf.load_table(conn, 'tn_movie_budgets')
tn_movie_budgets_df.head(2)

In [ ]:
# convert dollars to integers
# pandas\_libs\lib.pyx in pandas._libs.lib.astype_intsafe()
# OverflowError: Python int too large to convert to C long
money_cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in money_cols:
    tn_movie_budgets_df = hf.convert_dollars_to_int(tn_movie_budgets_df, col)

In [ ]:
tmdb_movies = hf.load_table(conn, 'tmdb_movies')

In [ ]:
# ON tn.movie = tmdb.popularity replaced by USING(id)
# since present in both tables
query = ("""SELECT tn. movie, 
        domestic_gross, 
        worldwide_gross, 
        popularity
        FROM tn_movie_budgets as tn
        LEFT JOIN tmdb_movies as tmdb
        USING (id)
        """)
joined_df = pd.read_sql(query, conn)
joined_df.head()

In [ ]:
joined_df.describe()

In [ ]:
sns.stripplot(x= 'popularity', y= 'domestic_gross', data = joined_df)
plt.title('Rating vs Money')
plt.show()