## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Kelvin Waters
# Online FT 12/09/19 cohort
# Once submitted
# Rafael Carrasco

In [1]:
# import everything being used up top
from importlib import reload

import sqlite3
import pandas as pd
import numpy as np
import helper_functions as hf


import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
reload(hf)

In [3]:
def preview_tables(conn, tables='all'):
    all_tables = hf.get_table_list(conn)
    if tables=='all':
        final_table_names = all_tables
        
    elif type(tables) == list:
        final_table_names = [t for t in all_tables if t in tables]
    
    for table_name in final_table_names:
        print(f"Showing Table: {table_name}")
        query = f"select * from {table_name};"
        df = pd.read_sql(query, conn)
        display(df.head(2))
        print("-"*100)
    print("finished")
    return None

In [4]:
conn = sqlite3.Connection("movies_db.sqlite")
c = conn.cursor()

In [5]:
table_names = hf.get_table_list(conn)
table_names

['bom_movie_gross',
 'name_basics',
 'title_akas',
 'title_basics',
 'title_crew',
 'title_principals',
 'title_ratings',
 'tmdb_movies',
 'tn_movie_budgets']

In [6]:
preview_tables(conn, tables= 'all')

Showing Table: bom_movie_gross

                        title studio  domestic_gross foreign_gross  year
0                 Toy Story 3     BV     415000000.0     652000000  2010
1  Alice in Wonderland (2010)     BV     334200000.0     691300000  2010

----------------------------------------------------------------------------------------------------
Showing Table: name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"

----------------------------------------------------------------------------------------------------
Showing Table: title_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0

----------------------------------------------------------------------------------------------------
Showing Table: title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"

----------------------------------------------------------------------------------------------------
Showing Table: title_crew

      tconst  directors              writers
0  tt0285252  nm0899854            nm0899854
1  tt0438973       None  nm0175726,nm1802864

----------------------------------------------------------------------------------------------------
Showing Table: title_principals

      tconst  ordering     nconst  category   job   characters
0  tt0111414         1  nm0246005     actor  None  ["The Man"]
1  tt0111414         2  nm0398271  director  None         None

----------------------------------------------------------------------------------------------------
Showing Table: title_ratings

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559

----------------------------------------------------------------------------------------------------
Showing Table: tmdb_movies

,index,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610

----------------------------------------------------------------------------------------------------
Showing Table: tn_movie_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

----------------------------------------------------------------------------------------------------
finished

# Top 5 domestic profitable studios

# bom_movie_gross

In [7]:
# initial table data
bm = hf.load_table(conn, "bom_movie_gross")
bm.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
bm.shape

(3387, 5)

In [9]:
# studio count
bm.groupby('studio')['studio'].agg('count')

studio
3D        1
A23       2
A24      49
ADC       2
AF        6
         ..
XL        2
YFG       1
Yash     14
Zee       1
Zeit.    16
Name: studio, Length: 257, dtype: int64

In [10]:
# dropping NaN's from domestic_gross and the 5 missing studio values
# title                0
# studio               5
# domestic_gross      28
# foreign_gross     1350
# year                 0
bm1 = bm.dropna()
bm1.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [11]:
# dropping foreign gross from table > 30% NaN
# dropped year, time not a factor
bm2 = bm1.drop(['foreign_gross', 'year'], axis='columns')

In [12]:
bm2

,title,studio,domestic_gross
0,Toy Story 3,BV,415000000.0
1,Alice in Wonderland (2010),BV,334200000.0
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0
3,Inception,WB,292600000.0
4,Shrek Forever After,P/DW,238700000.0
...,...,...,...
3275,I Still See You,LGF,1400.0
3286,The Catcher Was a Spy,IFC,725000.0
3309,Time Freak,Grindstone,10000.0
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0

In [14]:
# bm3 = bm2.groupby('studio')['domestic_gross'].agg('sum').sort_values(ascending= False)
# bm3.head()

# tmdb_movies

In [15]:
tm = hf.load_table(conn, "tmdb_movies")
tm.head()

,index,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [16]:
tm.shape

(26517, 10)

In [17]:
tm.isna().sum()

index                0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [18]:
tm1 = tm.drop(['index', 'original_language', 'release_date'], axis='columns')

In [19]:
tm1.head()

,genre_ids,id,original_title,popularity,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,Harry Potter and the Deathly Hallows: Part 1,33.533,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,Iron Man 2,28.515,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,Toy Story,28.005,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,Inception,27.920,Inception,8.3,22186

# tn_movie_budgets

In [20]:
tn = hf.load_table(conn, "tn_movie_budgets")

In [21]:
money_cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in money_cols:
    tn = hf.convert_dollars_to_int(tn, col)

In [22]:
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [23]:
tn.shape

(5782, 6)

In [24]:
tn.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [25]:
tn1 = tn.drop(['release_date'], axis='columns')

In [26]:
tn1.head()

,id,movie,production_budget,domestic_gross,worldwide_gross
0,1,Avatar,425000000,760507625,2776345279
1,2,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,Dark Phoenix,350000000,42762350,149762350
3,4,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [27]:
tn1['profit'] = tn1['worldwide_gross']+tn1['domestic_gross'] - tn1['production_budget']

In [28]:
tn1.head()

,id,movie,production_budget,domestic_gross,worldwide_gross,profit
0,1,Avatar,425000000,760507625,2776345279,3111852904
1,2,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,876127750
2,3,Dark Phoenix,350000000,42762350,149762350,-157475300
3,4,Avengers: Age of Ultron,330600000,459005868,1403013963,1531419831
4,5,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1619903129

In [29]:
tn2 = tn1.rename(columns={'movie': 'title'})
tn2.head()

,id,title,production_budget,domestic_gross,worldwide_gross,profit
0,1,Avatar,425000000,760507625,2776345279,3111852904
1,2,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,876127750
2,3,Dark Phoenix,350000000,42762350,149762350,-157475300
3,4,Avengers: Age of Ultron,330600000,459005868,1403013963,1531419831
4,5,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1619903129

# title_basics

In [30]:
tb = hf.load_table(conn, "title_basics")
tb.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [31]:
tb.shape

(146144, 6)

In [32]:
tb.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [33]:
tb1 = tb.drop(['original_title', 'start_year', 'runtime_minutes'], axis='columns')

In [34]:
tb1.head()

      tconst                    primary_title                genres
0  tt0063540                        Sunghursh    Action,Crime,Drama
1  tt0066787  One Day Before the Rainy Season       Biography,Drama
2  tt0069049       The Other Side of the Wind                 Drama
3  tt0069204                  Sabse Bada Sukh          Comedy,Drama
4  tt0100275         The Wandering Soap Opera  Comedy,Drama,Fantasy

# title_ratings

In [35]:
tr = hf.load_table(conn, "title_ratings")
tr.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [36]:
tr.shape

(73856, 3)

In [37]:
tr.isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [38]:
# renaming col
tr.rename(columns={'averagerating': 'average_rating'}, inplace= True)

In [39]:
tr.head()

       tconst  average_rating  numvotes
0  tt10356526             8.3        31
1  tt10384606             8.9       559
2   tt1042974             6.4        20
3   tt1043726             4.2     50352
4   tt1060240             6.5        21

In [40]:
tr['numvotes'].describe()

count    7.385600e+04
mean     3.523662e+03
std      3.029402e+04
min      5.000000e+00
25%      1.400000e+01
50%      4.900000e+01
75%      2.820000e+02
max      1.841066e+06
Name: numvotes, dtype: float64

# Merging DataFrames

In [51]:
# merge between tables title_basics, title_ratings
tb1_tr_merge = pd.merge(tb1, tr, on ='tconst')
tb1_tr_merge

,tconst,primary_title,genres,average_rating,numvotes
0,tt0063540,Sunghursh,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,None,6.6,5
73855,tt9916160,Drømmeland,Documentary,6.5,11

In [52]:
# merge between tables tmdb_movies, bom_movie_gross
tm1_bm2_merge = pd.merge(tm1, bm2, on = 'title')
tm1_bm2_merge

,genre_ids,id,original_title,popularity,title,vote_average,vote_count,studio,domestic_gross
0,"[14, 12, 16, 10751]",10191,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,P/DW,217600000.0
1,"[12, 28, 878]",10138,Iron Man 2,28.515,Iron Man 2,6.8,12368,Par.,312400000.0
2,"[28, 878, 12]",27205,Inception,27.920,Inception,8.3,22186,WB,292600000.0
3,"[16, 10751, 35]",10193,Toy Story 3,24.445,Toy Story 3,7.7,8340,BV,415000000.0
4,"[16, 10751, 35]",20352,Despicable Me,23.673,Despicable Me,7.2,10057,Uni.,251500000.0
...,...,...,...,...,...,...,...,...,...
1696,"[12, 80, 10751, 35]",425148,Show Dogs,7.904,Show Dogs,5.9,92,Global Road,17900000.0
1697,"[35, 10749, 18, 9648]",522921,超时空同居,6.840,How Long Will I Love U,7.4,11,WGUSA,747000.0
1698,"[12, 35, 14]",497984,捉妖记2,6.637,Monster Hunt 2,6.3,14,LGF,706000.0
1699,"[18, 10749]",446132,Gauguin: Voyage de Tahiti,5.553,Gauguin: Voyage to Tahiti,5.6,48,Cohen,200000.0
1700,"[28, 12, 16]",332718,Bilal: A New Breed of Hero,2.707,Bilal: A New Breed of Hero,6.8,54,VE,491000.0

In [53]:
merged_df = pd.merge(tm1_bm2_merge, tn2, on = 'title')
merged_df

,genre_ids,id_x,original_title,popularity,title,vote_average,vote_count,studio,domestic_gross_x,id_y,production_budget,domestic_gross_y,worldwide_gross,profit
0,"[14, 12, 16, 10751]",10191,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,P/DW,217600000.0,30,165000000,217581232,494870992,547452224
1,"[12, 28, 878]",10138,Iron Man 2,28.515,Iron Man 2,6.8,12368,Par.,312400000.0,15,170000000,312433331,621156389,763589720
2,"[28, 878, 12]",27205,Inception,27.920,Inception,8.3,22186,WB,292600000.0,38,160000000,292576195,835524642,968100837
3,"[16, 10751, 35]",10193,Toy Story 3,24.445,Toy Story 3,7.7,8340,BV,415000000.0,47,200000000,415004880,1068879522,1283884402
4,"[16, 10751, 35]",20352,Despicable Me,23.673,Despicable Me,7.2,10057,Uni.,251500000.0,50,69000000,251513985,543464573,725978558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,[36],476968,"Paul, Apostle of Christ",12.005,"Paul, Apostle of Christ",7.1,98,Affirm,17600000.0,95,5000000,17547999,25529498,38077497
1193,"[18, 36, 53]",453201,The 15:17 to Paris,11.576,The 15:17 to Paris,5.3,799,WB,36300000.0,23,30000000,36276286,56096200,62372486
1194,[35],474335,Uncle Drew,10.836,Uncle Drew,6.5,220,LG/S,42500000.0,85,18000000,42469946,46527161,70997107
1195,"[53, 28, 80]",442064,Proud Mary,9.371,Proud Mary,5.5,259,SGem,20900000.0,50,30000000,20868638,21709539,12578177
1196,"[28, 12, 16]",332718,Bilal: A New Breed of Hero,2.707,Bilal: A New Breed of Hero,6.8,54,VE,491000.0,100,30000000,490973,648599,-28860428

In [59]:
merged_df.shape

(1197, 14)

In [60]:
# dropping duplicated values
merged_df = merged_df.drop_duplicates()

In [61]:
merged_df.shape

(1094, 14)

In [68]:
merged_df.head()

,genre_ids,id_x,original_title,popularity,title,vote_average,vote_count,studio,domestic_gross_x,id_y,production_budget,domestic_gross_y,worldwide_gross,profit
0,"[14, 12, 16, 10751]",10191,How to Train Your Dragon,28.734,How to Train Your Dragon,7.7,7610,P/DW,217600000.0,30,165000000,217581232,494870992,547452224
1,"[12, 28, 878]",10138,Iron Man 2,28.515,Iron Man 2,6.8,12368,Par.,312400000.0,15,170000000,312433331,621156389,763589720
2,"[28, 878, 12]",27205,Inception,27.920,Inception,8.3,22186,WB,292600000.0,38,160000000,292576195,835524642,968100837
3,"[16, 10751, 35]",10193,Toy Story 3,24.445,Toy Story 3,7.7,8340,BV,415000000.0,47,200000000,415004880,1068879522,1283884402
4,"[16, 10751, 35]",20352,Despicable Me,23.673,Despicable Me,7.2,10057,Uni.,251500000.0,50,69000000,251513985,543464573,725978558

In [96]:
merged_df.pivot_table(index='studio', margins= True)

,domestic_gross_x,domestic_gross_y,id_x,id_y,popularity,production_budget,profit,vote_average,vote_count,worldwide_gross
studio,,,,,,,,,,
3D,6.100000e+06,6.096582e+06,78394.000000,31.000000,2.746000,5.000000e+06,1.761178e+07,7.400000,12.000000,1.651520e+07
A24,1.896027e+07,1.896669e+07,291897.272727,57.545455,14.608818,9.681818e+06,4.163306e+07,6.745455,2677.363636,3.234818e+07
ATO,1.000000e+06,2.039869e+06,45324.000000,32.000000,9.432000,1.250000e+07,-8.187945e+06,6.100000,149.000000,2.272186e+06
Affirm,1.170000e+07,1.167510e+07,463887.000000,53.500000,8.023500,3.500000e+06,2.391085e+07,6.600000,61.500000,1.573575e+07
Amazon,2.500000e+06,2.483472e+06,361292.000000,81.000000,16.925000,2.000000e+07,-1.048191e+07,7.000000,752.000000,7.034615e+06
...,...,...,...,...,...,...,...,...,...,...
WB,9.527059e+07,9.467032e+07,192864.950980,54.009804,15.553471,8.262451e+07,2.401324e+08,6.450980,3282.352941,2.280865e+08
WB (NL),9.238684e+07,9.238561e+07,225424.000000,47.447368,14.519368,5.770000e+07,2.636201e+08,6.289474,2925.684211,2.289344e+08
Wein.,2.946409e+07,2.945173e+07,162217.297297,49.432432,11.864757,2.041892e+07,7.889207e+07,6.867568,2178.378378,6.985926e+07
Yash,8.000000e+06,8.031955e+06,44977.000000,60.000000,6.798000,2.400000e+07,-4.244425e+06,5.900000,136.000000,1.172362e+07
All,7.122847e+07,7.142563e+07,179838.904022,51.283364,13.721937,5.386308e+07,1.967397e+08,6.376600,2483.408592,1.791772e+08

In [103]:
g = merged_df.groupby('studio')
g

In [104]:
for studio, studio in g:
    print(studio)
    print(merged_df)

    genre_ids   id_x                              original_title  popularity  \
163      [99]  78394  Sea Rex 3D: Journey to a Prehistoric World       2.746

                                          title  vote_average  vote_count  \
163  Sea Rex 3D: Journey to a Prehistoric World           7.4          12

    studio  domestic_gross_x  id_y  production_budget  domestic_gross_y  \
163     3D         6100000.0    31            5000000           6096582

     worldwide_gross    profit
163         16515203  17611785
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
           genre_ids    id_x       original_title  popularity  \
566         [18, 80]  122081      Spring Breakers      10.691
680         [80, 18]  157845            The Rover      13.528
685     [80, 18, 53]  241239  A Most Violent Year      12.271
719   [35, 18, 9648]  252512    While We're Young       8.022
760         [18, 53]  264644                 Room      20.000
769        [18, 878]  264660           Ex Machina      18.485
803       [9648, 27]  310131            The Witch      13.493
1002            [18]  340485       American Honey       8.778
1063        [35, 18]  391713            Lady Bird      15.974
1092        [35, 18]  371638  The Disaster Artist      13.270
1147  [27, 9648, 53]  493922           Hereditary      26.185

                    title  vote_average  vote_count studio  domestic_gross_x  \
566       Spring Breakers           5.0        2495    A24        14100000.0
680             The Rover           6.2         435    A24         1100000.0
685   A Most Violent Year           6.6         792    A24         5700000.0
719     While We're Young           5.9         609    A24         7600000.0
760                  Room           8.1        5494    A24        14700000.0
769            Ex Machina           7.6        8026    A24        25400000.0
803             The Witch           6.6        2931    A24        25100000.0
1002       American Honey           6.7         417    A24          663000.0
1063            Lady Bird           7.3        3866    A24        49000000.0
1092  The Disaster Artist           7.2        1895    A24        21100000.0
1147           Hereditary           7.0        2491    A24        44100000.0

      id_y  production_budget  domestic_gross_y  worldwide_gross     profit
566      3            5000000          14124286         31149251   40273537
680     47            8500000           1109199          3180252   -4210549
685     68           20000000           5749134          8846875   -5403991
719     45           10000000           7582065         17503828   15085893
760     80           13000000          14677674         36262783   37940457
769     72           13000000          25440971         38358392   50799363
803     94            3500000          25138705         40454520   62093225
1002    15            3500000            663247          2611750    -225003
1063    53           10000000          48958273         78610769  117569042
1092   100           10000000          21120616         28717667   39838283
1147    56           10000000          44069456         70133905  104203361
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
       genre_ids   id_x original_title  popularity        title  vote_average  \
94  [80, 35, 18]  45324    Casino Jack       9.432  Casino Jack           6.1

    vote_count studio  domestic_gross_x  id_y  production_budget  \
94         149    ATO         1000000.0    32           12500000

    domestic_gross_y  worldwide_gross   profit
94           2039869          2272186 -8187945
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
     genre_ids    id_x           original_title  popularity  \
1119  [18, 35]  450806               All Saints       4.042
1192      [36]  476968  Paul, Apostle of Christ      12.005

                        title  vote_average  vote_count  studio  \
1119               All Saints           6.1          25  Affirm
1192  Paul, Apostle of Christ           7.1          98  Affirm

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
1119         5800000.0    12            2000000           5802208
1192        17600000.0    95            5000000          17547999

      worldwide_gross    profit
1119          5941994   9744202
1192         25529498  38077497
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
     genre_ids    id_x original_title  popularity     title  vote_average  \
1174  [27, 14]  361292       Suspiria      16.925  Suspiria           7.0

      vote_count  studio  domestic_gross_x  id_y  production_budget  \
1174         752  Amazon         2500000.0    81           20000000

      domestic_gross_y  worldwide_gross    profit
1174           2483472          7034615 -10481913
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
              genre_ids   id_x                    original_title  popularity  \
36         [53, 80, 27]  43947              I Spit on Your Grave      13.102
95   [18, 27, 9648, 53]  36419                        After.Life       9.395
104        [80, 18, 53]  38542  The Disappearance of Alice Creed       9.087

                                title  vote_average  vote_count studio  \
36               I Spit on Your Grave           6.3         977  Anch.
95                         After.Life           5.7         416  Anch.
104  The Disappearance of Alice Creed           6.6         280  Anch.

     domestic_gross_x  id_y  production_budget  domestic_gross_y  \
36            93100.0    37            1750000             93051

[1094 rows x 14 columns]
        genre_ids    id_x original_title  popularity    title  vote_average  \
490          [35]  241151        Jackpot       0.600  Jackpot           6.0
491  [28, 35, 80]   86987   Arme Riddere       2.864  Jackpot           6.1

     vote_count studio  domestic_gross_x  id_y  production_budget  \
490           1     DR             800.0    17             400000
491          18     DR             800.0    17             400000

     domestic_gross_y  worldwide_gross  profit
490             44452            44452 -311096
491             44452            44452 -311096
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
       genre_ids   id_x original_title  popularity       title  vote_average  \
82  [35, 80, 18]  37495     Four Lions       9.968  Four Lions           7.0

    vote_count studio  domestic_gross_x  id_y  production_budget  \
82         621  Drft.          305000.0    79            3750000

    domestic_gross_y  worldwide_gross   profit
82            310007          2436111 -1003882
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
              genre_ids    id_x            original_title  popularity  \
805  [53, 28, 80, 9648]  287948  The Transporter Refueled      13.428
969            [18, 53]  376290               Miss Sloane      12.215
988            [18, 53]  329981                   Shut In      10.535

                        title  vote_average  vote_count studio  \
805  The Transporter Refueled           5.4         836     EC
969               Miss Sloane           7.4         912     EC
988                   Shut In           5.2         374     EC

     domestic_gross_x  id_y  production_budget  domestic_gross_y  \
805        16000000.0    34           22000000          16029670
969         3500000.0    36           18000000           3500605
988         6900000.0    50           10000000           6900335

     worldwide_gross    profit
805         69698495  63728165
969          7719630  -6779765
988         11360665   8261000
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                genre_ids    id_x     original_title  popularity  \
606              [28, 80]  116613        The Sweeney       6.400
1006  [12, 16, 14, 10751]  309809  The Little Prince       8.512

                  title  vote_average  vote_count studio  domestic_gross_x  \
606         The Sweeney           5.9         142   EOne           26700.0
1006  The Little Prince           7.6        1493   EOne         1300000.0

      id_y  production_budget  domestic_gross_y  worldwide_gross    profit
606     53            4500000             26345          8000366   3526711
1006    19           77500000           1311213        102028919  25840132
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
            genre_ids    id_x original_title  popularity  title  vote_average  \
177                []  128184          Trash       0.600  Trash           3.0
178  [12, 80, 18, 53]  206563          Trash       7.179  Trash           7.1

     vote_count studio  domestic_gross_x  id_y  production_budget  \
177           3    FCW           17500.0    46           12000000
178         353    FCW           17500.0    46           12000000

     domestic_gross_y  worldwide_gross   profit
177             17484          6553186 -5429330
178             17484          6553186 -5429330
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
            genre_ids    id_x               original_title  popularity  \
118      [14, 27, 53]   46261  Don't Be Afraid of the Dark       8.405
197          [27, 53]   49018                    Insidious      16.197
244          [18, 35]   23514                The Rum Diary      12.011
433     [28, 53, 878]   81796                      Lockout      11.273
527          [28, 80]  119283                       Parker      14.950
538          [28, 53]  117263           Olympus Has Fallen      13.864
573  [53, 28, 80, 18]  102362                Dead Man Down      10.349

                           title  vote_average  vote_count studio  \
118  Don't Be Afraid of the Dark           5.5         550     FD
197                    Insidious           6.9        3582     FD
244                The Rum Diary           5.7         652     FD
433                      Lockout           5.9        1004     FD
527                       Parker           5.8        1868     FD
538           Olympus Has Fallen           6.2        4086     FD
573                Dead Man Down           6.0         866     FD

     domestic_gross_x  id_y  production_budget  domestic_gross_y  \
118        24000000.0    43           25000000          24046682
197        54000000.0    63            1500000          54009150
244        13100000.0    16           45000000          13109815
433        14300000.0    22           20000000          14326865
527        17600000.0    18           35000000          17616641
538        98900000.0     9           70000000          98927592
573        10900000.0    78           30000000          10895295

     worldwide_gross     profit
118         39126427   38173109
197         99870886  152380036
244         21544732  -10345453
433         33943049   28269914
527         48543388   31160029
538        172878928  201806520
573         19599974     495269
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920

[1094 rows x 14 columns]
            genre_ids   id_x         original_title  popularity  \
66   [53, 80, 18, 28]  25941            Harry Brown      10.555
121              [18]  31007  Welcome to the Rileys       8.348
164       [18, 10749]  33870      Mao's Last Dancer       2.681

                     title  vote_average  vote_count studio  domestic_gross_x  \
66             Harry Brown           6.8         505  Gold.         1800000.0
121  Welcome to the Rileys           6.5         241  Gold.          159000.0
164      Mao's Last Dancer           7.0          45  Gold.         4800000.0

     id_y  production_budget  domestic_gross_y  worldwide_gross    profit
66     81            7300000           1818681         12023606   6542287
121    12           10000000            152857           355919  -9491224
164    31           18000000           4806750         25941437  12748187
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
     genre_ids    id_x               original_title  popularity  \
1103  [28, 18]  350312  Baahubali 2: The Conclusion      10.406

                            title  vote_average  vote_count    studio  \
1103  Baahubali 2: The Conclusion           7.0         252  GrtIndia

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
1103        20200000.0    55           30000000          18985794

      worldwide_gross     profit
1103        263502914  252488708
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                genre_ids    id_x             original_title  popularity  \
90               [14, 18]   34647             Enter the Void       9.563
143          [80, 18, 53]   37414       The Killer Inside Me       7.087
147      [80, 18, 53, 36]   43434                     Carlos       6.568
298                  [18]   52505            The Other Woman       9.150
299           [35, 10749]  193610            The Other Woman      11.894
300       [18, 35, 10749]  499722       Amoureux de ma femme       6.359
321                  [18]   71157                    Polisse       7.682
340          [18, 53, 80]   62728              Brighton Rock       4.749
357           [18, 10751]  329677                The D Train       0.600
358              [18, 35]  308638                The D Train       6.465
456              [12, 18]   83770                On the Road       8.919
477          [27, 53, 80]   74725                  Kill List       7.036
596   [80, 18, 10749, 37]  152748   Ain't Them Bodies Saints       8.166
689              [18, 27]  242224               The Babadook      11.502
692                  [18]   85350                    Boyhood      11.141
1003                 [18]  353326  The Man Who Knew Infinity       8.760
1118          [10752, 99]  428501             City of Ghosts       4.341

                          title  vote_average  vote_count studio  \
90               Enter the Void           7.3         773    IFC
143        The Killer Inside Me           5.9         304    IFC
147                      Carlos           7.0          87    IFC
298             The Other Woman           6.2         220    IFC
299             The Other Woman           6.3        2276    IFC
300             The Other Woman           4.9          60    IFC
321                     Polisse           7.8         670    IFC
340               Brighton Rock           6.0          57    IFC
357                 The D Train           6.0           2    IFC
358                 The D Train           4.6         125    IFC
456                 On the Road           5.6         518    IFC
477                   Kill List           6.1         332    IFC
596    Ain't Them Bodies Saints           6.2         217    IFC
689                The Babadook           6.4        3528    IFC
692                     Boyhood           7.5        3097    IFC
1003  The Man Who Knew Infinity           7.2         699    IFC
1118             City of Ghosts           7.1          24    IFC

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
90            336000.0    77           16000000            337997
143           217000.0    11           13000000            217277
147           146000.0    47           18000000            145526
298            25400.0     2           40000000          83911193
299            25400.0     2           40000000          83911193
300            25400.0     2           40000000          83911193
321           211000.0    24            8900000            176988
340           230000.0    11           11000000            229653
357           673000.0    34            3000000            669688
358           673000.0    34            3000000            669688
456           744000.0    17           25000000            720828
477            29100.0    70             800000             29063
596           397000.0    64            5000000            391611
689           964000.0    41            2000000            950792
692         25400000.0    85            4000000          25379975
1003         3900000.0    67           10000000           3877922
1118          128000.0    64           17500000            325491

      worldwide_gross     profit
90            1467278  -14194725
143           3617277   -9165446
147           1619153  -16235321
298         195111193  239022386
299         195111193  239022386
300         195111193  239022386
321          22744132   14021120
340            229653  -10540694
357            772366   -1557946
358            772366   -1557946
456           9313302  -14965870
477            462206    -308731
596           1075009   -3533380
689           7482387    6433179
692          57273049   78653024
1003         12382122    6260044
1118           325491  -16849018
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
       genre_ids   id_x    original_title  popularity             title  \
160  [18, 10751]  56601  The Perfect Game       4.958  The Perfect Game

     vote_average  vote_count studio  domestic_gross_x  id_y  \
160           6.3          44     IW         1000000.0    36

     production_budget  domestic_gross_y  worldwide_gross   profit
160           12500000           1089445          3931367 -7479188
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
    genre_ids   id_x original_title  popularity     title  vote_average  \
335  [18, 35]  73532       Le Havre       5.973  Le Havre           6.9

     vote_count studio  domestic_gross_x  id_y  production_budget  \
335         169   Jan.          612000.0    29            5500000

     domestic_gross_y  worldwide_gross   profit
335            611709         13480196  8591905
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232

575         20898221   5898221
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                     genre_ids    id_x   original_title  popularity  \
31                [12, 28, 18]   23759        Centurion      13.548
75               [18, 53, 878]   43933         Monsters      10.175
76               [12, 18, 878]  382890         Monsters       1.122
128  [18, 9648, 53, 80, 10749]   46503  All Good Things       7.871
157                       [99]   43942     Freakonomics       5.705
158                       [35]   47088    The Extra Man       5.056
165            [18, 35, 10749]    5178   The Good Heart       2.321
195       [878, 18, 10749, 14]   31011       Mr. Nobody      17.242
257                  [18, 878]   62215      Melancholia      11.123
323               [12, 28, 37]   68818       Blackthorn       7.548
334               [28, 53, 80]   61404   À bout portant       6.021

               title  vote_average  vote_count studio  domestic_gross_x  id_y  \
31         Centurion           6.1         673  Magn.          124000.0    46
75          Monsters           6.2         848  Magn.          237000.0    50
76          Monsters           7.4           5  Magn.          237000.0    50
128  All Good Things           6.0         493  Magn.          582000.0    96
157     Freakonomics           6.6          57  Magn.          101000.0    80
158    The Extra Man           5.9          46  Magn.          453000.0    53
165   The Good Heart           6.4          30  Magn.           20900.0    73
195       Mr. Nobody           7.9        3279  Magn.            3600.0    43
257      Melancholia           7.1        1642  Magn.         3000000.0    62
323       Blackthorn           6.7         111  Magn.          201000.0    46
334      Point Blank           6.6         230  Magn.          708000.0    69

     production_budget  domestic_gross_y  worldwide_gross    profit
31            15000000            123570          7885048  -6991382
75              500000            237301          5639730   5377031
76              500000            237301          5639730   5377031
128           20000000            582024           873617 -18544359
157            2900000            101270           172867  -2625863
158            7000000            453377           492108  -6054515
165            3800000             20930           340930  -3438140
195           46500000              3622            22254 -46474124
257            9400000           3030848         21817298  15448146
323            4500000            200558          1217307  -3082135
334            3000000                 0                0  -3000000
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
           genre_ids   id_x original_title  popularity        title  \
131  [35, 10749, 18]  41210     The Switch       7.745   The Switch
152         [18, 14]  44638    The Tempest       6.300  The Tempest

     vote_average  vote_count studio  domestic_gross_x  id_y  \
131           6.1        1008  Mira.        27800000.0    39
152           5.8          52  Mira.          278000.0     1

     production_budget  domestic_gross_y  worldwide_gross    profit
131           19000000          27758465         49858465  58616930
152           20000000            277943           277943 -19444114
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
    genre_ids   id_x original_title  popularity         title  vote_average  \
148  [27, 53]  38033   Chain Letter        6.44  Chain Letter           4.1

     vote_count studio  domestic_gross_x  id_y  production_budget  \
148          63    NFC          139000.0    43            3000000

     domestic_gross_y  worldwide_gross   profit
148            205842          1022453 -1771705
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
     genre_ids    id_x original_title  popularity     title  vote_average  \
1071      [18]  389015       I, Tonya      15.407  I, Tonya           7.5

      vote_count studio  domestic_gross_x  id_y  production_budget  \
1071        2904   Neon        30000000.0    83           11000000

      domestic_gross_y  worldwide_gross    profit
1071          30014534         53797409  72811943
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                       genre_ids   id_x            original_title  popularity  \
324  [28, 35, 27, 9648, 878, 53]  43935  Dylan Dog: Dead of Night       7.508

                        title  vote_average  vote_count    studio  \
324  Dylan Dog: Dead of Night           4.4         243  OMNI/FSR

     domestic_gross_x  id_y  production_budget  domestic_gross_y  \
324         1200000.0    90           20000000           1186538

     worldwide_gross    profit
324          6093725 -12719737
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371

[1094 rows x 14 columns]
         genre_ids    id_x          original_title  popularity  \
476    [35, 10749]   84174            Bachelorette       7.050
574   [18, 53, 80]   77987       Only God Forgives      10.196
668    [53, 10749]  255343  Escobar: Paradise Lost      15.924
672  [28, 878, 18]  110415             Snowpiercer      14.735

                      title  vote_average  vote_count studio  \
476            Bachelorette           5.4         755   RTWC
574       Only God Forgives           5.8        1396   RTWC
668  Escobar: Paradise Lost           6.3         476   RTWC
672             Snowpiercer           6.8        4748   RTWC

     domestic_gross_x  id_y  production_budget  domestic_gross_y  \
476          448000.0    35            3000000            446770
574          779000.0     8            4800000            775849
668          196000.0    12           17000000            195792
672         4600000.0    27           40000000           4563029

     worldwide_gross    profit
476         12577401  10024171
574          4494560    470409
668          3917679 -12886529
672         88069880  52632909
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                   genre_ids    id_x        original_title  popularity  \
123     [12, 14, 28, 37, 53]   46528     The Warrior's Way       8.259
171        [27, 28, 53, 878]   45168             The Raven       0.600
172           [80, 53, 9648]   70436             The Raven       8.635
175                       []  184342    The Lazarus Effect       0.600
176                 [53, 27]  243940    The Lazarus Effect      10.157
187          [53, 9648, 878]   51876             Limitless      19.453
209             [14, 28, 18]   37958             Immortals      14.774
237             [12, 14, 28]   23047   Season of the Witch      12.535
286           [28, 53, 9648]   70435               Haywire      10.015
301             [28, 53, 80]   45610  Machine Gun Preacher       9.120
319                 [27, 53]   65055        Shark Night 3D       7.879
361                       []   70871              Paranoia       0.600
362                 [18, 53]  115348              Paranoia       7.674
363                 [53, 27]  398002              Paranoia       0.600
410  [12, 35, 18, 10751, 14]   62764         Mirror Mirror      13.221
425          [28, 53, 10752]   75674          Act of Valor      12.197
545                     [35]   87818              Movie 43      12.813
546          [10749, 35, 18]  138697               Don Jon      12.780
563          [16, 35, 10751]  175574            Free Birds      11.062
585             [53, 18, 80]  164457    Out of the Furnace       9.139
586                  [10749]  112949            Safe Haven       9.095
661             [80, 28, 53]  254904      The November Man      17.747
694         [28, 18, 53, 80]  192102        3 Days to Kill      11.011
696                     [27]  157547                Oculus      10.841
708             [28, 80, 18]  254473        Brick Mansions       9.194
714              [18, 10749]  239571        The Best of Me       8.622
726         [10751, 12, 878]  238603         Earth to Echo       7.189

                    title  vote_average  vote_count studio  domestic_gross_x  \
123     The Warrior's Way           6.1         203  Rela.         5700000.0
171             The Raven           5.9           5  Rela.        16000000.0
172             The Raven           6.3         681  Rela.        16000000.0
175    The Lazarus Effect           4.8           3  Rela.        25800000.0
176    The Lazarus Effect           5.1         825  Rela.        25800000.0
187             Limitless           7.1        6295  Rela.        79200000.0
209             Immortals           5.8        1431  Rela.        83500000.0
237   Season of the Witch           5.3        1352  Rela.        24800000.0
286               Haywire           5.6         747  Rela.        18900000.0
301  Machine Gun Preacher           6.5         477  Rela.          539000.0
319        Shark Night 3D           5.0         245  Rela.        18900000.0
361              Paranoia           4.5           2  Rela.         7400000.0
362              Paranoia           5.7         518  Rela.         7400000.0
363              Paranoia          10.0           1  Rela.         7400000.0
410         Mirror Mirror           5.8        2099  Rela.        64900000.0
425          Act of Valor           6.3         583  Rela.        70000000.0
545              Movie 43           4.4        1332  Rela.         8800000.0
546               Don Jon           5.9        2709  Rela.        24500000.0
563            Free Birds           5.8         410  Rela.        55800000.0
585    Out of the Furnace           6.6        1077  Rela.        11300000.0
586            Safe Haven           7.1        1433  Rela.        71300000.0
661      The November Man           6.1         852  Rela.        25000000.0
694        3 Days to Kill           6.1        1279  Rela.        30700000.0
696                Oculus           6.4        1747  Rela.        27700000.0
708        Brick Mansions           5.9         909  Rela.        20400000.0
714        The Best of Me           7.3        1512  Rela.        26800000.0
726         Earth to Echo           5.7         377  Rela.        38900000.0

     id_y  production_budget  domestic_gross_y  worldwide_gross     profit
123    65           42000000           5666340          8514325  -27819335
171    45           26000000          16008272         30601801   20610073
172    45           26000000          16008272         30601801   20610073
175    76            5000000          25801570         38359310   59160880
176    76            5000000          25801570         38359310   59160880
187    91           27000000          79249455        155564919  207814374
209    45           75000000          83504017        211562435  220066452
237    89           40000000          24827228         91126600   75953828
286    83           23000000          18942396         36374700   32317096
301    99           30000000            538690          3721988  -25739322
319    52           25000000          18877153         18877153   12754306
361    19           40000000           7388654         16340767  -16270579
362    19           40000000           7388654         16340767  -16270579
363    19           40000000           7388654         16340767  -16270579
410     7           85000000          64935167        173613482  153548649
425    52           12000000          70012847         82497035  140509882
545    39           10000000           8840453         31164747   30005200
546    18            5500000          24477704         41268579   60246283
563    16           55000000          55750480        110387072  111137552
585    41           22000000          11330849         15434375    4765224
586    41           28000000          71399120         94050951  137450071
661    61           15000000          25018119         34820335   44838454
694    64           28000000          30697999         38959900   41657899
696    72            5000000          27695246         44115496   66810742
708    69           28000000          20396829         73421224   65818053
714    42           26000000          26766213         41059418   41825631
726    62           13000000          38934842         42174545   68109387
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
           genre_ids   id_x original_title  popularity  title  vote_average  \
154  [18, 28, 10749]  37737          Kites       6.058  Kites           5.8

     vote_count   studio  domestic_gross_x  id_y  production_budget  \
154          67  Relbig.         1600000.0    66            9200000

     domestic_gross_y  worldwide_gross   profit
154           1685269         17155193  9640462
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                          genre_ids    id_x  \
23                             [35]   37735
50               [18, 10749, 10752]   22971
110                [28, 80, 18, 53]   22907
114                     [18, 10749]   42297
136              [18, 10749, 10402]   45272
170               [28, 12, 27, 878]   35791
205                        [14, 27]   38321
220                     [10749, 35]   50544
294                   [28, 35, 878]   59678
316                    [53, 18, 27]   49950
414                     [18, 10749]   72570
482                     [35, 10749]   67660
483                   [28, 27, 878]   71679
518   [28, 12, 18, 9648, 10749, 14]  123553
610                     [10402, 18]  109417
717                     [35, 10749]  184098
789                            [35]  252838
872                        [18, 53]  304372
997             [10749, 27, 35, 53]   58431
1011                 [9648, 18, 27]  335791
1051               [28, 14, 27, 18]  346672
1120                  [28, 27, 878]  173897
1164                       [27, 18]  434555
1173                 [9648, 53, 27]  439015
1195                   [53, 28, 80]  442064

                             original_title  popularity  \
23                                   Easy A      14.690
50                                Dear John      12.048
110                                  Takers       8.969
114                               Burlesque       8.676
136                          Country Strong       7.567
170                Resident Evil: Afterlife       0.667
205                                  Priest      15.318
220                   Friends with Benefits      14.019
294                        Attack the Block       9.612
316                            The Roommate       8.134
414                                 The Vow      13.046
482                        Think Like a Man       5.905
483              Resident Evil: Retribution       1.325
518   The Mortal Instruments: City of Bones      16.484
610                      Battle of the Year       5.858
717                    Think Like a Man Too       8.250
789                      The Wedding Ringer      15.876
872                         The Perfect Guy       6.727
997         Pride and Prejudice and Zombies       9.086
1011                  When the Bough Breaks       8.062
1051                 Underworld: Blood Wars      18.976
1120       Resident Evil: The Final Chapter       0.844
1164         The Possession of Hannah Grace      20.263
1173                            Slender Man      16.999
1195                             Proud Mary       9.371

                                      title  vote_average  vote_count studio  \
23                                   Easy A           6.8        4168   SGem
50                                Dear John           6.8        2676   SGem
110                                  Takers           6.2         605   SGem
114                               Burlesque           7.1        1195   SGem
136                          Country Strong           6.3         126   SGem
170                Resident Evil: Afterlife           5.9        2119   SGem
205                                  Priest           5.5        1157   SGem
220                   Friends with Benefits           6.6        4637   SGem
294                        Attack the Block           6.4        1144   SGem

[1094 rows x 14 columns]
         genre_ids    id_x              original_title  popularity  \
1196  [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count studio  \
1196  Bilal: A New Breed of Hero           6.8          54     VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
1196          491000.0   100           30000000            490973

      worldwide_gross    profit
1196           648599 -28860428
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
       genre_ids   id_x  original_title  popularity           title  \
161  [18, 10751]  35691  Letters to God       4.242  Letters to God

     vote_average  vote_count studio  domestic_gross_x  id_y  \
161           6.9          71   Viv.         2800000.0    25

     production_budget  domestic_gross_y  worldwide_gross   profit
161            3000000           2848587          3237452  3086039
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
              genre_ids    id_x                       original_title  \
56             [35, 27]   43593                           Piranha 3D
198          [27, 9648]   41446                             Scream 4
287     [10751, 35, 28]   56288  Spy Kids: All the Time in the World
313       [27, 53, 878]   50357                            Apollo 18
559       [878, 53, 27]  145135                           Dark Skies
802     [35, 12, 10751]  116149                           Paddington
986  [27, 9648, 53, 80]  241257                           Regression

     popularity                                title  vote_average  \
56       11.302                           Piranha 3D           5.3
198      16.082                             Scream 4           6.2
287      10.009  Spy Kids: All the Time in the World           4.6
313       8.384                            Apollo 18           5.0
559      11.582                           Dark Skies           6.1
802      13.565                           Paddington           7.0
986      10.713                           Regression           5.5

     vote_count  studio  domestic_gross_x  id_y  production_budget  \
56         1029  W/Dim.        25000000.0    52           24000000
198        1610  W/Dim.        38200000.0    55           40000000
287         487  W/Dim.        38500000.0   100           27000000
313         486  W/Dim.        17700000.0    94            5000000
559        1004  W/Dim.        17400000.0    97            3500000
802        1904  W/Dim.        76300000.0     5           55000000
986        1065  W/Dim.           55000.0     6           20000000

     domestic_gross_y  worldwide_gross     profit
56           25003155         83660160   84663315
198          38180928         95989590   94170518
287          38536376         80681183   92217559
313          17686929         26517819   39204748
559          17418667         27704111   41622778
802          76223578        258789097  280012675
986             55039         15824374   -4120587
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                 genre_ids    id_x      original_title  popularity  \
2            [28, 878, 12]   27205           Inception      27.920
9            [28, 53, 878]   20504     The Book of Eli      18.985
33            [80, 18, 53]   23168            The Town      13.476
34    [28, 37, 18, 14, 53]   20533           Jonah Hex      13.467
43                [35, 18]   41733            Due Date      12.445
...                    ...     ...                 ...         ...
1145   [16, 10751, 12, 14]  446894           Smallfoot      26.231
1149          [28, 12, 14]  338970         Tomb Raider      24.968
1170       [35, 18, 10749]  455207   Crazy Rich Asians      17.969
1188   [10752, 18, 36, 28]  429351           12 Strong      13.183
1193          [18, 36, 53]  453201  The 15:17 to Paris      11.576

                   title  vote_average  vote_count studio  domestic_gross_x  \
2              Inception           8.3       22186     WB       292600000.0
9        The Book of Eli           6.7        3495     WB        94800000.0
33              The Town           7.1        2386     WB        92200000.0
34             Jonah Hex           4.6         708     WB        10500000.0
43              Due Date           6.3        2973     WB       100500000.0
...                  ...           ...         ...    ...               ...
1145           Smallfoot           6.6         600     WB        83200000.0
1149         Tomb Raider           6.3        4310     WB        58300000.0
1170   Crazy Rich Asians           7.1        1496     WB       174500000.0
1188           12 Strong           5.6        1312     WB        45800000.0
1193  The 15:17 to Paris           5.3         799     WB        36300000.0

      id_y  production_budget  domestic_gross_y  worldwide_gross     profit
2       38          160000000         292576195        835524642  968100837
9       64           80000000          94835059        158750817  173585876
33      92           37000000          92186262        152566881  207753143
34      40           47000000          10547117         11022696  -25430187
43      84           65000000         100539043        211739043  247278086
...    ...                ...               ...              ...        ...
1145    69           80000000          83240103        213691277  216931380
1149    70           90000000          58250803        273477501  241728304
1170    38           30000000         174532921        238099711  382632632
1188    64           35000000          45819713         71118378   81938091
1193    23           30000000          36276286         56096200   62372486

[102 rows x 14 columns]
                genre_ids    id_x              original_title  popularity  \
0     [14, 12, 16, 10751]   10191    How to Train Your Dragon      28.734
1           [12, 28, 878]   10138                  Iron Man 2      28.515
2           [28, 878, 12]   27205                   Inception      27.920
3         [16, 10751, 35]   10193                 Toy Story 3      24.445
4         [16, 10751, 35]   20352               Despicable Me      23.673
...                   ...     ...                         ...         ...
1192                 [36]  476968     Paul, Apostle of Christ      12.005
1193         [18, 36, 53]  453201          The 15:17 to Paris      11.576
1194                 [35]  474335                  Uncle Drew      10.836
1195         [53, 28, 80]  442064                  Proud Mary       9.371
1196         [28, 12, 16]  332718  Bilal: A New Breed of Hero       2.707

                           title  vote_average  vote_count  studio  \
0       How to Train Your Dragon           7.7        7610    P/DW
1                     Iron Man 2           6.8       12368    Par.
2                      Inception           8.3       22186      WB
3                    Toy Story 3           7.7        8340      BV
4                  Despicable Me           7.2       10057    Uni.
...                          ...           ...         ...     ...
1192     Paul, Apostle of Christ           7.1          98  Affirm
1193          The 15:17 to Paris           5.3         799      WB
1194                  Uncle Drew           6.5         220    LG/S
1195                  Proud Mary           5.5         259    SGem
1196  Bilal: A New Breed of Hero           6.8          54      VE

      domestic_gross_x  id_y  production_budget  domestic_gross_y  \
0          217600000.0    30          165000000         217581232
1          312400000.0    15          170000000         312433331
2          292600000.0    38          160000000         292576195
3          415000000.0    47          200000000         415004880
4          251500000.0    50           69000000         251513985
...                ...   ...                ...               ...
1192        17600000.0    95            5000000          17547999
1193        36300000.0    23           30000000          36276286
1194        42500000.0    85           18000000          42469946
1195        20900000.0    50           30000000          20868638
1196          491000.0   100           30000000            490973

      worldwide_gross      profit
0           494870992   547452224
1           621156389   763589720
2           835524642   968100837
3          1068879522  1283884402
4           543464573   725978558
...               ...         ...
1192         25529498    38077497
1193         56096200    62372486
1194         46527161    70997107
1195         21709539    12578177
1196           648599   -28860428

[1094 rows x 14 columns]
                   genre_ids    id_x  \
59               [35, 10749]   32856
81           [35, 18, 10749]   37786
122          [35, 18, 10749]   38073
219                 [35, 80]   51540
224               [27, 9648]   55779
288              [35, 10749]   48988
292             [18, 53, 27]   48171
355                     [18]  439129
356                     [35]  296099
367             [12, 14, 28]   49051
400            [12, 28, 878]   72545
430   [35, 18, 10402, 10749]   80585
502             [12, 14, 28]   57158
507                 [27, 53]  138843
531                 [35, 80]  138832
547      [28, 12, 10751, 14]   81005
583                     [35]  124459
626             [28, 12, 14]  122917
675                     [27]  250546
687                     [18]  249164
695                     [35]  226486
744             [28, 18, 53]  254128
783                     [18]  312221
840             [28, 35, 80]  268920
847                 [27, 53]  299245
878                     [18]  438568
879                 [35, 18]  455980
918              [18, 10749]  296096
945           [28, 35, 9648]  302699
959              [18, 10749]  345920
961                     [35]  326423
965           [53, 9648, 27]  345911
1042          [27, 9648, 53]  396422
1087                [27, 53]  346364
1106                    [35]  345922
1107                    [35]  345914
1167          [9648, 35, 80]  445571
1186                    [35]  399796

                                 original_title  popularity  \
59                              Valentine's Day      11.187
81                           Sex and the City 2       9.986
122                          Going the Distance       8.281
219                             Horrible Bosses      14.058
224                         Final Destination 5      13.392
288                                   Hall Pass       9.984
292                                    The Rite       9.676
355                                     Vakáció       0.600
356                                    Vacation      14.227
367           The Hobbit: An Unexpected Journey      26.939
400            Journey 2: The Mysterious Island      14.454
430                                Rock of Ages      11.369
502         The Hobbit: The Desolation of Smaug      21.275
507                               The Conjuring      18.886
531                           We're the Millers      14.746
547                       Jack the Giant Slayer      12.773
583             The Incredible Burt Wonderstone       9.362
626   The Hobbit: The Battle of the Five Armies      53.783
675                                   Annabelle      13.989

In [113]:
BV_df = g.get_group('BV')

In [112]:
Sony_df

,genre_ids,id_x,original_title,popularity,title,vote_average,vote_count,studio,domestic_gross_x,id_y,production_budget,domestic_gross_y,worldwide_gross,profit
15,[18],37799,The Social Network,15.889,The Social Network,7.2,6116,Sony,97000000.0,91,40000000,96962694,224922135,281884829
25,[35],38365,Grown Ups,14.291,Grown Ups,6.1,3171,Sony,162000000.0,34,75000000,162001186,272223430,359224616
32,"[28, 35, 80]",27581,The Other Guys,13.508,The Other Guys,6.2,2187,Sony,119200000.0,74,100000000,119219978,170936470,190156448
38,"[28, 9648, 53]",27576,Salt,13.025,Salt,6.3,3240,Sony,118300000.0,50,130000000,118311368,290650494,278961862
39,"[53, 80]",56893,Salt,0.632,Salt,1.0,1,Sony,118300000.0,50,130000000,118311368,290650494,278961862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,"[28, 80, 18, 53]",400535,Sicario: Day of the Soldado,29.725,Sicario: Day of the Soldado,6.7,1317,Sony,50100000.0,59,35000000,50065850,75885196,90951046
1143,"[10751, 14, 35, 16]",400155,Hotel Transylvania 3: Summer Vacation,26.815,Hotel Transylvania 3: Summer Vacation,6.8,1673,Sony,167500000.0,77,65000000,167500092,527079962,629580054
1153,"[53, 28, 80]",345887,The Equalizer 2,22.961,The Equalizer 2,6.4,2089,Sony,102100000.0,21,77000000,102084362,190453132,215537494
1165,"[12, 35, 14, 10751, 27]",442062,Goosebumps 2: Haunted Halloween,20.238,Goosebumps 2: Haunted Halloween,5.6,428,Sony,46700000.0,63,35000000,46697321,93291478,104988799
1181,"[16, 12, 10751]",381719,Peter Rabbit,15.974,Peter Rabbit,6.5,650,Sony,115300000.0,97,50000000,115234093,347136477,412370570

In [115]:
BV_df

,genre_ids,id_x,original_title,popularity,title,vote_average,vote_count,studio,domestic_gross_x,id_y,production_budget,domestic_gross_y,worldwide_gross,profit
3,"[16, 10751, 35]",10193,Toy Story 3,24.445,Toy Story 3,7.7,8340,BV,415000000.0,47,200000000,415004880,1068879522,1283884402
7,"[16, 10751]",38757,Tangled,21.511,Tangled,7.5,6407,BV,200800000.0,15,260000000,200821936,586477240,527299176
24,"[14, 12, 28, 35, 18]",27022,The Sorcerer's Apprentice,14.463,The Sorcerer's Apprentice,5.9,2879,BV,63200000.0,44,160000000,63150991,217986320,121137311
71,"[35, 10749]",38303,You Again,10.208,You Again,6.2,734,BV,25700000.0,78,20000000,25702053,32838945,38540998
88,[53],44363,Frozen,9.678,Frozen,5.8,987,BV,400700000.0,56,150000000,400738009,1272469910,1523207919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,"[28, 12, 16, 10751]",260513,Incredibles 2,36.286,Incredibles 2,7.6,6354,BV,608600000.0,44,200000000,608581744,1242520711,1651102455
1135,"[14, 10751, 35]",400650,Mary Poppins Returns,30.419,Mary Poppins Returns,6.6,1457,BV,172000000.0,45,130000000,171958438,341528518,383486956
1138,"[28, 12, 878]",348350,Solo: A Star Wars Story,29.502,Solo: A Star Wars Story,6.6,3838,BV,213800000.0,12,275000000,213767512,393151347,331918859
1144,"[14, 12, 10751]",426543,The Nutcracker and the Four Realms,26.235,The Nutcracker and the Four Realms,6.0,909,BV,54900000.0,35,132900000,54858851,170293899,92252750
1191,"[12, 878, 10751, 14]",407451,A Wrinkle in Time,12.529,A Wrinkle in Time,5.0,1073,BV,100500000.0,58,103000000,100478608,133401882,130880490

In [101]:
Top_5 = merged_df.groupby('studio')['profit'].agg('sum').sort_values(ascending= False)
Top_5.head()

studio
BV      42232098330
Uni.    34681326566
Fox     28551428942
WB      24493499979
Sony    19550987246
Name: profit, dtype: int64

SyntaxError: can't assign to function call (<ipython-input-102-4172f3bc91d9>, line 1)

<bound method NDFrame.head of studio
BV          48082297739
Uni.        36510889486
Fox         32466604671
WB          26469189164
Sony        22410914072
               ...
OMNI/FSR      -12719737
VE            -28860428
MNE           -36797461
Magn.         -64008310
Free          -71914993
Name: profit, Length: 71, dtype: int64>

## REWORK ABOVE!!!  REWORK ABOVE!!!  REWORK ABOVE!!!  REWORK ABOVE!!! ##

In [ ]:
# WORKING CELL
# (3387, 5)
# title              object
# studio             object
# domestic_gross    float64
# foreign_gross      object
# year                int64
# title                0
# studio               5
# domestic_gross      28
# foreign_gross     1350
# year                 0

bom_movie_gross_df = hf.load_table(conn, "bom_movie_gross")
bom_movie_gross_df.foreign_gross.describe()

In [ ]:
# foriegn values on this table exceed 30 percent
# will have to find other data to add that information for each studio
# that's global.
# values too large for plotting
# both of the values I need are on the same table
c.execute("""SELECT title, 
        studio, 
        SUM(domestic_gross)
        FROM bom_movie_gross
        GROUP BY studio
        ORDER BY SUM(domestic_gross) DESC
        """)
bom_movie_gross_df = pd.DataFrame(c.fetchall())
bom_movie_gross_df.columns = [x[0] for x in c.description]
bom_movie_gross_df.head()

In [ ]:
bom_movie_gross_df.rename(columns = {'SUM(domestic_gross)':'domestic gross'}, inplace= True)

In [ ]:
top_5 = bom_movie_gross_df.head()
top_5

In [ ]:
top_5.plot.bar(x='studio', y='domestic gross')
plt.title('Top Producing Studios')
plt.xlabel('Studio')
plt.ylabel('Billions Yo!')
plt.grid(True)
ax = fig.add_subplot(111)
ax.plot(x, y, color='lightblue', linewidth= 3)

In [ ]:
sns.barplot(x='studio', y='domestic gross', )

In [ ]:
# need to get a subset through a filter
# to depict a more relatable graph
topfive = bom_movie_gross_df.head().describe()
topfive.plot(kind='bar')
# Turn on the grid
plt.minorticks_on()
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')

plt.show()

In [ ]:
# domestic_gross boxplot
# outliars hard to indentify with matplotlib and the large values in 
# this column will have to filter and use a subset at the prospect of 
# sacrificing some data loss
bom_movie_gross_df.head().plot(kind='box')

In [ ]:
# line plotting is to show some value over time/duration not a 
# valid option for what I'm attempting to achieve since the data
# isn't time sensitive.
# these values are too large need to find a way to get a subset
# where the marjority of the values reside without sacrificing data

bom_movie_gross_df.head().plot(kind='barh', stacked=True)
bom_movie_gross_df.head().plot(kind='bar', stacked=True)
plt.show()

# Adverage rating, numvotes, and genres

In [ ]:
# WORKING CELL
# Original table data
# (73856, 3)
# tconst            object
# averagerating    float64
# numvotes           int64
# tconst           0
# averagerating    0
# numvotes         0

title_ratings_df = hf.load_table(conn, "title_ratings")

In [ ]:
# rename col averagerating 
title_ratings_df.rename(columns={'averagerating': 'average_rating'}, inplace= True)
title_ratings_df.head()

In [ ]:
title_ratings_df.groupby('average_rating').numvotes.mean().sort_values().head()

In [ ]:
# the majority of numvotes are below 1000
# filtering this distribution will lose some data have to check the 
# shape to make that determination but the graph looks more relatable

# title_ratings_df[title_ratings_df.numvotes < 5000].numvotes.plot(kind='hist')
# title_ratings_df.query('numvotes < 5000').numvotes.plot(kind= 'hist')
# loc can be passed a multiple cols a range of cols so is probably a better choice.
title_ratings_df.loc[title_ratings_df.numvotes < 1500, 'numvotes'].plot(kind='hist')

In [ ]:
# WORKING CELL
# Original table data
# (146144, 6)
# tconst              object
# primary_title       object
# original_title      object
# start_year           int64
# runtime_minutes    float64
# genres              object
# tconst                 0
# primary_title          0
# original_title        21
# start_year             0
# runtime_minutes    31739
# genres              5408

title_basics_df = hf.load_table(conn, "title_basics")
title_basics_df.genres.str.contains('Horror').values_counts()

In [ ]:
# bar is best for category data
# reversed axis?! something to do with how pandas reads row order
# I don't know how to sort data before plotting
title_basics_df.start_year.value_counts().sort_index().plot()

# getting the data

In [ ]:
# obtaining the data i'm looking for
c.execute("""SELECT tconst,
        averagerating,
        numvotes
        FROM title_ratings
        """)
title_ratings_df = pd.DataFrame(c.fetchall())
title_ratings_df.columns = [x[0] for x in c.description]
title_ratings_df.head()

In [ ]:
# rename col averagerating 
title_ratings_df.rename(columns={'averagerating': 'average_rating'}, inplace= True)
title_ratings_df.head()

In [ ]:
# obtaining the data I'm looking for
c.execute("""SELECT tconst,
        primary_title,
        genres
        FROM title_basics
        """)
title_basics_df = pd.DataFrame(c.fetchall())
title_basics_df.columns = [x[0] for x in c.description]
title_basics_df.head()

In [ ]:
# RangeIndex: 146144 entries, 0 to 146143
# Data columns (total 3 columns):
# tconst           146144 non-null object
# primary_title    146144 non-null object
# genres           140736 non-null object
# dtypes: object(3)
# tconst                 0
# primary_title          0
# runtime_minutes    31739
# genres              5408
title_basics_df.info()

In [ ]:
merged_titles = pd.merge(title_basics_df, title_ratings_df, on ='tconst')
merged_titles.head()

In [ ]:
merged_titles.groupby('genres').numvotes.mean().head()

In [ ]:
# this is very skewed towards vumvotes values
mt = merged_titles.head().mean()
mt.plot(kind='bar')
# Turn on the grid
plt.minorticks_on()
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')

plt.show()

# Question # 3 popularity & domestic gross

In [ ]:
# show the value and/ or correalation of movie popularity 
# and profitability, attempt to tie this back to the studio
# that owns this production
# Original table data
# (5782, 6)
# id                    int64
# release_date         object
# movie                object
# production_budget    object
# domestic_gross       object
# worldwide_gross      object
# id                   0
# release_date         0
# movie                0
# production_budget    0
# domestic_gross       0
# worldwide_gross      0

tn_movie_budgets_df = hf.load_table(conn, "tn_movie_budgets")
tn_movie_budgets_df.isna().sum()

In [ ]:
# Original table data
# (26517, 10)
# index                  int64
# genre_ids             object
# id                     int64
# original_language     object
# original_title        object
# popularity           float64
# release_date          object
# title                 object
# vote_average         float64
# vote_count             int64
# index                0
# genre_ids            0
# id                   0
# original_language    0
# original_title       0
# popularity           0
# release_date         0
# title                0
# vote_average         0
# vote_count           0

tmdb_movies_df = hf.load_table(conn, "tmdb_movies")
tmdb_movies_df.isna().sum()

In [ ]:
# convert to int64 helper function
tn_movie_budgets_df = hf.load_table(conn, "tn_movie_budgets")

In [ ]:
# convert dollars to integers
money_cols = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in money_cols:
    tn_movie_budgets_df = hf.convert_dollars_to_int(tn_movie_budgets_df, col)

In [ ]:
# c.execute("""SELECT id,
#         movie,
#         production_budget,
#         domestic_gross,
#         worldwide_gross
#         FROM tn_movie_budgets
#         """)
# tn_movie_budgets_df = pd.DataFrame(c.fetchall())
# tn_movie_budgets_df.columns = [x[0] for x in c.description]
tn_movie_budgets_df.head()

In [ ]:
c.execute("""SELECT release_date,
        popularity,
        vote_average,
        vote_count
        FROM tmdb_movies
        """)
tmdb_movies_df = pd.DataFrame(c.fetchall())
tmdb_movies_df.columns = [x[0] for x in c.description]
tmdb_movies_df.head()

In [ ]:
tmdb_movies_df.groupby('popularity').vote_count.mean().sort_values().head()

# merging tables

In [ ]:
# to_concast abandoned, recommended join, found merge works even better 
# thus far, only took a day!
merged_tn_tmdb = pd.merge(tn_movie_budgets_df, tmdb_movies_df, on ='release_date')
merged_tn_tmdb.head()