## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Kelvin Waters
# Online FT 12/09/19 cohort
# Once submitted
# Rafael Carrasco

In [2]:
# import everything being used up top
import os, sqlite3
import numpy as np
import pandas as pd
from glob import glob

# let the fun begin

In [3]:
# sqlite connection established
# cursor obj instantiated
conn = sqlite3.connect('movies_db.sqlite')
c = conn.cursor()

c.execute("""SELECT name 
        FROM sqlite_master 
        WHERE type = 'table'
        """)
c.fetchall()

[('bom_movie_gross',),
 ('name_basics',),
 ('title_akas',),
 ('title_basics',),
 ('title_crew',),
 ('title_principals',),
 ('title_ratings',),
 ('tmdb_movies',),
 ('tn_movie_budgets',)]

# Manipulate each table in place for efficiency

# bom_movie_gross

In [45]:
# RangeIndex: 3387 entries, 0 to 3386
# Data columns (total 5 columns):
# title             3387 non-null object
# studio            3382 non-null object
# domestic_gross    3359 non-null float64
# foreign_gross     2037 non-null object
# year              3387 non-null int64
# dtypes: float64(1), int64(1), object(3)

# df.shape (3387, 5)

# isna().mean().round(4)* 100
# title              0.00
# studio             0.15
# domestic_gross     0.83
# foreign_gross     39.86
# year               0.00

# isnull().sum()
# title                0
# studio               5
# domestic_gross      28
# foreign_gross     1350
# year                 0
  
# dropna().shape
# (2007, 5)

c.execute("""SELECT *
        FROM bom_movie_gross
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [46]:
df['studio'].value_counts(dropna=False)

IFC      166
Uni.     147
WB       140
Fox      136
Magn.    136
        ...
IVP        1
YFG        1
ITL        1
DF         1
CF&SR      1
Name: studio, Length: 258, dtype: int64

# name_basics

In [52]:
# RangeIndex: 606648 entries, 0 to 606647
# Data columns (total 6 columns):
# nconst                606648 non-null object
# primary_name          606648 non-null object
# birth_year            82736 non-null float64
# death_year            6783 non-null float64
# primary_profession    555308 non-null object
# known_for_titles      576444 non-null object
# dtypes: float64(2), object(4)

# df.shape (606648, 6)

# isna().mean().round(4)*100
# nconst                 0.00
# primary_name           0.00
# birth_year            86.36
# death_year            98.88
# primary_profession     8.46
# known_for_titles       4.98

# isnull().sum()
# nconst                     0
# primary_name               0
# birth_year            523912
# death_year            599865
# primary_profession     51340
# known_for_titles       30204

# df.dropna().shape
# (5541, 6) woooh! nope birth_year and death year gotta take one for the team! 

c.execute("""SELECT *
        FROM name_basics
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')

In [55]:
df['birth_year'].value_counts(dropna= False)

NaN       523912
1978.0      2233
1980.0      2223
1979.0      2200
1982.0      2130
           ...
1766.0         1
1764.0         1
1761.0         1
1759.0         1
973.0          1
Name: birth_year, Length: 268, dtype: int64

# title_akas

In [48]:
# RangeIndex: 331703 entries, 0 to 331702
# Data columns (total 8 columns):
# title_id             331703 non-null object
# ordering             331703 non-null int64
# title                331703 non-null object
# region               278410 non-null object
# language             41715 non-null object
# types                168447 non-null object
# attributes           14925 non-null object
# is_original_title    331678 non-null float64
# dtypes: float64(1), int64(1), object(6)

# df.shape (331703, 8)

# isna().mean().round(4)*100
# title_id              0.00
# ordering              0.00
# title                 0.00
# region               16.07
# language             87.42
# types                49.22
# attributes           95.50
# is_original_title     0.01

# isnull().sum()
# title_id                  0
# ordering                  0
# title                     0
# region                53293
# language             289988
# types                163256
# attributes           316778
# is_original_title        25

# dropna().shape
# (0, 8) no table left! language types, and attributes columns gone!

c.execute("""SELECT *
        FROM title_akas
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'is_original_title'],
      dtype='object')

In [49]:
df['language'].value_counts()

en    22895
tr     3847
bg     3609
fr     3576
he     2680
      ...
ka        1
gd        1
mk        1
xh        1
iu        1
Name: language, Length: 76, dtype: int64

# title_basics

In [57]:
# RangeIndex: 146144 entries, 0 to 146143
# Data columns (total 6 columns):
# tconst             146144 non-null object
# primary_title      146144 non-null object
# original_title     146123 non-null object
# start_year         146144 non-null int64
# runtime_minutes    114405 non-null float64
# genres             140736 non-null object
# dtypes: float64(1), int64(1), object(4)

# df.shape (146144, 6)

# isna().mean().round(4)*100
# tconst              0.00
# primary_title       0.00
# original_title      0.01
# start_year          0.00
# runtime_minutes    21.72
# genres              3.70

# isnull().sum()
# tconst                 0
# primary_title          0
# original_title        21
# start_year             0
# runtime_minutes    31739
# genres              5408

# dropna().shape
# (112232, 6)

c.execute("""SELECT *
        FROM title_basics
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [58]:
df['genres'].value_counts(dropna= False)

Documentary                 32185
Drama                       21486
Comedy                       9177
NaN                          5408
Horror                       4372
                            ...
Comedy,Musical,Thriller         1
Adventure,History,News          1
Adventure,Music,Thriller        1
Adventure,Music,Mystery         1
Animation,Music,Sci-Fi          1
Name: genres, Length: 1086, dtype: int64

# title_crew

In [9]:
# RangeIndex: 146144 entries, 0 to 146143
# Data columns (total 3 columns):
# tconst       146144 non-null object
# directors    140417 non-null object
# writers      110261 non-null object
# dtypes: object(3)

# df.shape (146144, 3)

# isna().mean().round(4)*100
# tconst        0.00
# directors     3.92
# writers      24.55

# isnull()
# tconst           0
# directors     5727
# writers      35883

# dropna().shape
# (109008, 3)

c.execute("""SELECT *
        FROM title_crew
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['tconst', 'directors', 'writers'], dtype='object')

# title_principals

In [10]:
# RangeIndex: 1028186 entries, 0 to 1028185
# Data columns (total 6 columns):
# tconst        1028186 non-null object
# ordering      1028186 non-null int64
# nconst        1028186 non-null object
# category      1028186 non-null object
# job           177684 non-null object
# characters    393360 non-null object
# dtypes: int64(1), object(5)

# df.shape (1028186, 6)

# isna().mean().round(4)*100
# tconst         0.00
# ordering       0.00
# nconst         0.00
# category       0.00
# job           82.72
# characters    61.74

# isnull.sum()
# tconst             0
# ordering           0
# nconst             0
# category           0
# job           850502
# characters    634826

# dropna().shape
# (0, 6) no table left! job, characters columns gone!

c.execute("""SELECT *
        FROM title_principals
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

# bom_movies_gross

In [11]:
# RangeIndex: 3387 entries, 0 to 3386
# Data columns (total 5 columns):
# title             3387 non-null object
# studio            3382 non-null object
# domestic_gross    3359 non-null float64
# foreign_gross     2037 non-null object
# year              3387 non-null int64
# dtypes: float64(1), int64(1), object(3)

# df.shape (3387, 5)

# isna().mean().round(4)*100
# title              0.00
# studio             0.15
# domestic_gross     0.83
# foreign_gross     39.86
# year               0.00

# isnull().sum()
# title                0
# studio               5
# domestic_gross      28
# foreign_gross     1350
# year                 0

# dropna().shape
# (2007, 5) foreign_gross on the chopping table! 

c.execute("""SELECT *
        FROM bom_movie_gross
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

# title_ratings

In [12]:
# RangeIndex: 73856 entries, 0 to 73855
# Data columns (total 3 columns):
# tconst           73856 non-null object
# averagerating    73856 non-null float64
# numvotes         73856 non-null int64
# dtypes: float64(1), int64(1), object(1)

# df.shape (76856, 3)

#isna().mean().round(4)*100
# tconst           0.0
# averagerating    0.0
# numvotes         0.0

# isnull().sum()
# tconst           0
# averagerating    0
# numvotes         0

# dropna().shape
# (73856, 3)

c.execute("""SELECT *
        FROM title_ratings
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.keys()

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

# tmdb_movies

In [13]:
# RangeIndex: 26517 entries, 0 to 26516
# Data columns (total 10 columns):
# index                26517 non-null int64
# genre_ids            26517 non-null object
# id                   26517 non-null int64
# original_language    26517 non-null object
# original_title       26517 non-null object
# popularity           26517 non-null float64
# release_date         26517 non-null object
# title                26517 non-null object
# vote_average         26517 non-null float64
# vote_count           26517 non-null int64
# dtypes: float64(2), int64(3), object(5)

# df.shape (26517, 10)

#isna().mean().round(4)*100
# index                0.0
# genre_ids            0.0
# id                   0.0
# original_language    0.0
# original_title       0.0
# popularity           0.0
# release_date         0.0
# title                0.0
# vote_average         0.0
# vote_count           0.0

# isnull().sum()
# index                0
# genre_ids            0
# id                   0
# original_language    0
# original_title       0
# popularity           0
# release_date         0
# title                0
# vote_average         0
# vote_count           0

# dropna().shape
# (26517, 10)

c.execute("""SELECT *
        FROM tmdb_movies
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.columns

Index(['index', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

# tn_movie_budgets

In [14]:
# RangeIndex: 5782 entries, 0 to 5781
# Data columns (total 6 columns):
# id                   5782 non-null int64
# release_date         5782 non-null object
# movie                5782 non-null object
# production_budget    5782 non-null object
# domestic_gross       5782 non-null object
# worldwide_gross      5782 non-null object
# dtypes: int64(1), object(5)

# df.shape (5782, 6)

# isna().mean().round(4)*100
# id                   0.0
# release_date         0.0
# movie                0.0
# production_budget    0.0
# domestic_gross       0.0
# worldwide_gross      0.0

# isnull().sum()
# id                   0
# release_date         0
# movie                0
# production_budget    0
# domestic_gross       0
# worldwide_gross      0

# dropna().shape
# (5782, 6)

c.execute("""SELECT *
        FROM tn_movie_budgets
        """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')